<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   .slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.slide p {
  display: inline-block;
  padding-right: 10px;
  animation: typing 5s steps(30) 1s forwards;
}

/* Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


 

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="slideshow-container">
        <div class="slide">
          <p>Say goodbye to phishing scams,</p>
          <p>Our AI-powered project has got your back!</p>
        </div>
        <div class="slide">
          <p>Protect your online security with Gideon.ai</p>
          <p>Where cutting-edge AI meets cybersecurity.</p>
        </div>
      </div>

</body>
</html>